---
import { Image } from "astro:assets";

import iconImage from "@/assets/icon.png";
import Sections from "@/components/Sections.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
import { getAboutSections } from "@/libs/newt";

const about = await getAboutSections();
---

<Layout title="about">
  <Title title="about" />
  <div
    class="flex justify-center w-full md:pt-12 md:bg-white md:border-2 md:rounded-lg"
  >
    <Image src={iconImage} alt="アイコン画像" width={256} height={177} />
  </div>
  <Sections contents={about} />
</Layout>
