---
import Layout from "@/layouts/Layout.astro";
import { getAboutSections } from "@/libs/microcms";

const about = await getAboutSections();
---

<Layout title="about">
  <main>
    <h1>about</h1>
    {
      about.contents.map(({ title, text }) => (
        <div>
          <h2>{title}</h2>
          <span>{text}</span>
        </div>
      ))
    }
  </main>
</Layout>
