---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Sections from "@/components/Sections.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
import { getAboutSections } from "@/libs/microcms";

const about = await getAboutSections();
console.log(about.contents);
---

<Layout title="about">
  <Header />
  <main class="m-auto max-w-screen-md py-4">
    <div class="mb-6">
      <Title title="about" />
    </div>
    <Sections contents={about.contents} />
  </main>
  <Footer />
</Layout>
