---
import "@pagefind/default-ui/css/ui.css";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="search">
  <Title title="search" />
  <div id="search"></div>
</Layout>

<script>
  import { PagefindUI } from "@pagefind/default-ui";

  const initPagefindUI = () => {
    if (document.querySelector(".pagefind-ui")) {
      return;
    }

    new PagefindUI({ element: "#search", showSubResults: true });
  };

  document.addEventListener("DOMContentLoaded", initPagefindUI);
  document.addEventListener("astro:page-load", initPagefindUI);
</script>
