---
import type { Category } from "@/types/category";

export interface Props {
  current: string;
  contents: Category[];
}

const { current } = Astro.props;
const contents = [{ name: "all" }, ...Astro.props.contents];
---

<div class="flex space-x-4 tracking-widest">
  {
    contents.map(({ name }) => (
      <span class="transition-transform duration-200 hover:scale-90">
        <a href={`/category/${name}`}>{name}</a>
        {name === current && <div class="h-1 mt-1 bg-sea rounded-full" />}
      </span>
    ))
  }
</div>
