---
import type { Category } from "@/types/category";

export interface Props {
  current: string;
  contents: Category[];
}

const { current } = Astro.props;
const contents = [{ name: "all" }, ...Astro.props.contents];
---

<div class="flex space-x-4 tracking-widest">
  {
    contents.map(({ name }) => {
      const isCurrent = name === current;

      return (
        <span
          class={`${
            isCurrent ? "brightness-100" : "brightness-200 hover:text-sea"
          } transition hover:brightness-100`}
        >
          <a href={`/category/${name}`}>{name}</a>
          {isCurrent && <div class="h-1 mt-1 bg-sea rounded-full" />}
        </span>
      );
    })
  }
</div>
