---
import IconLink from "./IconLink.astro";

const year = new Date().getFullYear();
---

<div
  class="sticky top-[100vh] flex w-full justify-center space-x-4 px-6 pb-8 pt-12 text-center"
>
  <span>{`© ${year} arrow2nd`}</span>
  <span class="ml-4 flex space-x-4 border-l border-main pl-4">
    <IconLink
      icon="ri:twitter-x-line"
      href="https://x.com/_arrow2nd"
      targetBlank
    />
    <IconLink
      icon="ri:bluesky-line"
      href="https://bsky.app/profile/arrow2nd.com"
      targetBlank
    />
    <IconLink
      icon="ri:github-line"
      href="https://github.com/arrow2nd"
      targetBlank
    />
    <IconLink icon="ri:mail-send-line" href="mailto:contact@arrow2nd.com" />
  </span>
</div>
