---
import IconLink from "./IconLink.astro";
import NaviLinks from "./NaviLinks.astro";

export interface Props {
  backTo?: string;
}

const { backTo } = Astro.props;
---

<div class="flex justify-between w-full px-6 py-8">
  <IconLink
    icon={backTo ? "ri:arrow-left-s-line" : "ri:home-5-line"}
    href={backTo ?? "/"}
  />
  <div class="flex space-x-4">
    <NaviLinks />
  </div>
</div>
