---
import IconLink from "./IconLink.astro";
import NaviLinks from "./NaviLinks.astro";
---

<div class="flex justify-between w-full px-6 py-8">
  <IconLink icon="ri:home-5-line" href="/" />
  <div class="flex space-x-4">
    <NaviLinks />
  </div>
</div>
