---
import Icon from "astro-icon";
import NaviLinks from "./NaviLinks.astro";
---

<div class="flex justify-between w-full px-6 py-8">
  <a href="/">
    <Icon class="w-6" name="ri:home-5-line" />
  </a>
  <div class="flex space-x-4">
    <NaviLinks />
  </div>
</div>
