---
import { Icon } from "astro-icon";
export type { Props } from "./Link.astro";

const { href, icon, targetBlank } = Astro.props;
---

<a
  class="flex items-center transition-transform duration-200 hover:scale-90"
  href={href}
  target={targetBlank ? "_blank" : undefined}
  rel={targetBlank ? "noopener noreferrer" : undefined}
>
  <Icon class="w-6" name={icon} />
</a>
