---
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  icon: string;
  text: string;
  targetBlank?: boolean;
}

const { href, icon, text, targetBlank } = Astro.props;
---

<a
  class="w-fit flex items-center hover:text-sea transition-colors"
  href={href}
  target={targetBlank ? "_blank" : undefined}
  rel={targetBlank ? "noopener noreferrer" : undefined}
>
  <Icon class="w-5 h-5" name={icon} />
  <span class="ml-2 text-base tracking-widest">{text}</span>
</a>
