---
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  icon: string;
  text: string;
  targetBlank?: boolean;
}

const { href, icon, text, targetBlank } = Astro.props;
---

<a
  class="flex hover:underline items-center"
  href={href}
  target={targetBlank ? "_blank" : undefined}
  rel={targetBlank ? "noopener noreferrer" : undefined}
>
  <Icon class="w-5" name={icon} />
  <span class="ml-2 text-base tracking-widest">{text}</span>
</a>
