---
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  icon: string;
  text: string;
  targetBlank?: boolean;
  paddingBottom?: boolean;
}

const { href, icon, text, targetBlank, paddingBottom } = Astro.props;
---

<a
  class="w-fit flex items-center hover:text-sea transition-colors"
  href={href}
  target={targetBlank ? "_blank" : undefined}
  rel={targetBlank ? "noopener noreferrer" : undefined}
>
  <Icon class="w-5 h-5" name={icon} />
  <span
    class:list={[
      "ml-1.5 tracking-widest",
      paddingBottom ? "text-base/5 pb-1" : "text-base"
    ]}>{text}</span
  >
</a>
