---
import Dots from "@/components/Dots.astro";

export interface Props {
  title: string;
  suffix?: string;
}

const { title, suffix } = Astro.props;
---

<div>
  <h1 class="mb-4 font-bold inline-flex items-baseline">
    <span class="text-5xl tracking-widest">{title}</span>
    {
      suffix && (
        <span class="text-sub ml-2 text-2xl tracking-wide">{suffix}</span>
      )
    }
  </h1>
  <Dots count={4} dashed />
</div>
