---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import BaseLayout, { type Props as BaseLayoutProps } from "./BaseLayout.astro";

export interface Props extends BaseLayoutProps {}
---

<BaseLayout {...Astro.props}>
  <Header />
  <main class="m-auto max-w-screen-md px-6 md:px-4 lg:px-0 py-8 space-y-8">
    <slot />
  </main>
  <Footer />
</BaseLayout>
